@charset 'utf-8';
@font-face {
	font-family: 'KIMM_Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'SlowSlow';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/SlowSlow.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body,div,h2,p,audio,ul,li{ margin: 0; padding: 0; }
ul{ list-style: none; }
body{
	font-family: 'SlowSlow', sans-serif;
	height: 100vh;
	color: #fff;
}
/* scroll */
::-webkit-scrollbar{ width: 6px; height: 100%; }
::-webkit-scrollbar-thumb{
	background: #fff;
	border-radius: 20px;
}
::-webkit-scrollbar-track{
	background: rgba(255,255,255,0.6);
  border-radius: 20px;
}
@keyframes AnimationName { 
    0%{ background-position: 0% 50%; }
    50%{ background-position: 100% 50%; }
    100%{ background-position: 0% 50%; }
}
.wrapper{
	width: 100%;
  height: 100vh;
	background: linear-gradient(-45deg, #fff6b7, #f092bc, #8795e6, #c2ffd8);
  background-size: 400% 400%;
	animation: AnimationName 15s ease infinite;
	display: flex; justify-content: center; align-items: center;
	user-select: none; /* drag안되게 */
	position: relative;
}
.bg{
	width: 464px; height: 832px;
	background: url('../images/phone.png') no-repeat;
	display: flex; justify-content: center; align-items: center;
}
.inner{
	width: 350px;
	padding: 50px 30px 80px;
	background: rgba(0,0,0,0.5);
	border-radius: 40px;
}
.play-body{ position: relative; }
.m-top{
	width: 100%;
	margin-bottom: 25px;
	position: relative;
}
.m-top>h2{
	font-size: 18px; font-family: 'KIMM_Bold', sans-serif;
	text-align: center;
	color: transparent;
	background: rgb(160,201,223);
	background: linear-gradient(180deg, #d9a7c7 0%, #fffcdc 100%);
	background-clip: text; -webkit-background-clip: text;
}
.m-top>#toggle-btn{
	position: absolute; left: 0; top: 50%;
	transform: translateY(-50%);
}
.m-img{
	width: 100%; height: 260px;
	border-radius: 15px; overflow: hidden;
	transform: scale(0.7);
	transition: all .2s;
}
.m-img>img{
	width: 100%; height: 100%;
	object-fit: cover;
}
.m-info{
	margin: 30px 0 70px;
	font-size: 32px; text-align: center;
}
.m-info>.artist{
	font-size: 18px;
	color: rgba(255,255,255,0.6);
	margin-top: 5px; letter-spacing: 1px;
}
.m-lyrics,.m-etc>#play-list{
	width: 100%; height: 420px;
	position: absolute; left: 0; top: 0;
	background: rgba(0,0,0,0.85);
	display: none;
}
.m-lyrics{
	padding: 20px; box-sizing: border-box;
	overflow-y: scroll;
	text-align: center;
	color: #fff; font-size: 20px;
}
.m-lyrics.active{ display: block; }
.m-etc{
	display: flex; justify-content: space-between; align-items: center;
	margin-bottom: 20px;
	color: rgba(255,255,255,0.6);
}
.m-etc>#play-list>ul{
	height: 420px;
	padding: 20px; box-sizing: border-box;
	overflow-y: scroll;
}
.m-etc>#play-list li{
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding: 5px 0; box-sizing: border-box;
	font-size: 24px; letter-spacing: 1px;
	position: relative;
	cursor: pointer;
}
.m-etc>#play-list li:last-child{ border-bottom: 0; }
.m-etc>#play-list li>strong{
	display: block;
	margin-bottom: 4px;
}
.m-etc>#play-list li>em{
	font-style: normal; font-size: 16px;
	color: rgba(255,255,255,0.6);
}
.m-etc>#play-list li.active,.m-etc>#play-list li.active>em{ color: #f8b6b6; }
.m-etc>#play-list li>span{ position: absolute; right: 0; top: 5px; }
.m-etc>#list-btn{ cursor: pointer; }
.m-etc>#list-btn.active{ color: #fff; }
.m-etc>#list-btn.active+#play-list{ display: block; }
.m-etc>#favorite-btn{
	width: 70px;
  height: 70px;
  background: url('../images/heart.png') no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.m-etc>#favorite-btn.active{
	transition-duration: 1s;
  background-position: -1960px 0;
}
.m-etc>.volume{ position: relative; }
.m-etc #volume-btn{ cursor: pointer; }
.m-etc #volume-btn.open{ color: rgba(255,255,255,1); }
.m-etc #volume-ctrl{
	width: 30px; height: 135px;
	background: rgba(0,0,0,0.6);
	border-radius: 7px;
	position: absolute; left: -3px; bottom: 40px;
	display: flex; flex-flow: column wrap; align-items: center;
}
.m-etc #volume-ctrl.hidden{ display: none; }
.m-etc .volumebg{
	width: 6px; height: 90%;
	margin: auto;
	border-radius: 3px;
	background: rgba(255,255,255,0.4);
	position: absolute; left: 50%; top: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}
.m-etc .volumerange{
	-webkit-appearance: none;
	width: 121px;
	position: absolute; right: 1px; top: -4px;
	background: transparent;
	transform-origin: center right;
	transform: rotate(270deg);
	overflow: hidden; cursor: pointer;
}
.m-etc .volumerange:focus{ outline: none; }
.m-etc .volumerange::-webkit-slider-runnable-track{
	width: 100%; height: 100%;
	cursor: pointer;
	border-radius: 3px;
}
.m-etc .volumerange::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 6px; height: 6px;
	border-radius: 50%;
	background: #fff;
	box-shadow: -100vw 0 0 100vw #9eb2db;
}
.m-etc .bar{
	width: 6px; height: 0%;
	background: #fff;
	border-radius: inherit;
	position: absolute; bottom: 0;
	pointer-events: none;
}
.pin{
	display: block;
	width: 16px; height: 16px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	pointer-events: all;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
}
.m-progress{
	width: 100%; height: 6px;
	border-radius: 3px;
	background: rgba(255,255,255,0.4);
}
.m-progress>.bar{
	width: 0%; height: inherit;
	border-radius: inherit;
	background: #bdc3c7;
	background: linear-gradient(90deg, #bdc3c7 0%, #58728c 100%);
	position: relative;
}
.m-progress .pin{
	left: -1%; top: -5px;
}
.m-progress>.timer{
	margin-top: 5px;
	display: flex; justify-content: space-between;
	font-size: 18px; letter-spacing: 1px;
}
.m-control{
	margin-top: 40px;
	display: flex; justify-content: space-between; align-items: center;
}
.m-control span{
	font-size: 32px; color: #fff;
	cursor: pointer;
}
.m-control>.play-pause{
	width: 54px; height: 54px;
	background: rgba(255,255,255,0.2);
	border-radius: 50%;
	display: flex; justify-content: center; align-items: center;
}