@charset 'utf-8';

body,div,h2,p,audio,ul,li{ margin: 0; padding: 0; }
ul{ list-style: none; }
body{
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	color: #fff;
}
/* scroll */
::-webkit-scrollbar{ width: 6px; height: 100%; }
::-webkit-scrollbar-thumb{
	background: #fff;
	border-radius: 20px;
}
::-webkit-scrollbar-track{
	background: rgba(255,255,255,0.6);
  border-radius: 20px;
}

.wrapper{
	height: 100%;
	background: rgb(124, 5, 83);
	background: linear-gradient(0deg, rgba(124,5,83,1) 0%, rgba(80,17,59,1) 32%, rgba(14,0,11,1) 100%);
	display: flex; justify-content: center; align-items: center;	
	user-select: none; /* drag안되게 */
}
.inner{
	width: 380px;
	padding: 25px 30px 70px;
	background: rgba(0,0,0,0.5); box-shadow: 3px 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 15px;
}
.play-body{ position: relative; }
.m-top{
	width: 100%;
	margin-bottom: 25px;
	position: relative;
}
.m-top>h2{
	font-size: 30px; font-weight: 700;
	text-align: center;
	color: transparent;
	background: rgb(160,201,223);
	background: linear-gradient(180deg, rgba(160,201,223,1) 0%, rgba(174,190,231,1) 47%, rgba(201,155,232,1) 100%);
	background-clip: text; -webkit-background-clip: text;
}
.m-top>#toggle-btn{
	position: absolute; left: 0; top: 50%;
	transform: translateY(-50%);
}
.m-img{
	width: 100%; height: 260px;
	border-radius: 15px; overflow: hidden;
}
.m-img>img{ width: 100%; height: 100%; object-fit: cover; }
.m-info{
	margin: 30px 0 70px;
	font-size: 20px; text-align: center;
}
.m-info>.name{ font-weight: 500; }
.m-info>.artist{
	font-size: 12px; font-weight: 300;
	color: rgba(255,255,255,0.6);
	margin-top: 5px;
}
.m-etc{
	display: flex; justify-content: space-between; align-items: center;
	margin-bottom: 20px;
	color: rgba(255,255,255,0.6);
}
.m-etc>#play-list{
	width: 100%; height: 380px;
	position: absolute; left: 0; top: 0;
	background: rgba(0,0,0,0.8);
	display: none;
}
.m-etc>#play-list>ul{
	height: 380px;
	padding: 20px; box-sizing: border-box;
	overflow-y: scroll;
}
.m-etc>#play-list li{
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding: 5px 0; box-sizing: border-box;
	position: relative;
}
.m-etc>#play-list li:last-child{ border-bottom: 0; }
.m-etc>#play-list li>strong{
	display: block;
	margin-bottom: 4px;
}
.m-etc>#play-list li>em{
	font-style: normal; font-size: 12px;
	color: rgba(255,255,255,0.6);
}
.m-etc>#play-list li.active,.m-etc>#play-list li.active>em{ color: #f8b6b6; }
.m-etc>#play-list li>span{ position: absolute; right: 0; top: 5px; }
.m-etc>#list-btn.active{ color: #fff; }
.m-etc>#list-btn.active+#play-list{ display: block; }
.m-etc>.volume{ position: relative; }
.m-etc #volume-btn.open{ color: rgba(255,255,255,1); }
.m-etc #volume-ctrl{
	width: 30px; height: 135px;
	background: rgba(0,0,0,0.6);
	border-radius: 7px;
	position: absolute; left: -3px; bottom: 40px;
	display: flex; flex-flow: column wrap; align-items: center;
}
.m-etc #volume-ctrl.hidden{ display: none; }
.m-etc .volumebg{
	width: 6px; height: 90%;
	margin: auto;
	border-radius: 3px;
	background: rgba(255,255,255,0.4);
	position: absolute; left: 50%; top: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}
.m-etc .volumerange{
	-webkit-appearance: none;
	width: 121px;
	position: absolute; right: 1px; top: -4px;
	background: transparent;
	transform-origin: center right;
	transform: rotate(270deg);
	overflow: hidden;
}
.m-etc .volumerange:focus{ outline: none; }
.m-etc .volumerange::-webkit-slider-runnable-track{
	width: 100%; height: 100%;
	cursor: pointer;
	border-radius: 3px;
}
.m-etc .volumerange::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 6px; height: 6px;
	border-radius: 50%;
	background: #fff;
	box-shadow: -100vw 0 0 100vw lightpink;
}
.m-etc .bar{
	width: 6px; height: 0%;
	background: #fff;
	border-radius: inherit;
	position: absolute; bottom: 0;
	pointer-events: none;
}
.pin{
	display: block;
	width: 16px; height: 16px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	pointer-events: all;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
}
.m-progress{
	width: 100%; height: 6px;
	border-radius: 3px;
	background: rgba(255,255,255,0.4);
}
.m-progress>.bar{
	width: 0%; height: inherit;
	border-radius: inherit;
	background: rgb(191,182,160);
	background: linear-gradient(90deg, rgba(238,213,62,1) 0%, rgba(191,182,160,1) 50%, rgba(99,111,163,1) 100%);
	position: relative;
}
.m-progress .pin{
	left: -1%; top: -5px;
}
.m-progress>.timer{
	margin-top: 5px;
	display: flex; justify-content: space-between;
	font-size: 14px;
}
.m-control{
	margin-top: 40px;
	display: flex; justify-content: space-between; align-items: center;
}
.m-control span{
	font-size: 32px; color: #fff;
}
.m-control .play-pause{
	width: 54px; height: 54px;
	background: rgb(191,182,160);
	/* background: linear-gradient(180deg, rgba(238,213,62,1) 0%, rgba(191,182,160,1) 50%, rgba(99,111,163,1) 100%); */
	border-radius: 50%;
	display: flex; justify-content: center; align-items: center;
}